* {
  padding: 0;
  margin: 0;
}

header {
  padding: 10px 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

#logo {
  padding-right: 60px;
}

#options {
  padding: 10px 0;
}

#menu {
  padding: 10px 15px 10px 90px;
}

header a {
  text-decoration: none;
  color: #000000;
  padding: 0 5px;
}

#body {
  text-align: center;
}

#body a {
  text-decoration: none;
  color: #000000;
}

#slide {
  background-color: #5d5d5d;
  margin: 20px 0;
  padding: 150px 0 0 0;
  font-size: 40px;
}

.slider {
  display: block;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.slider input {
  display: none;
}

.slider label {
  background-color: #fdfdfd;
  bottom: -150px;
  cursor: pointer;
  display: block;
  height: 10px;
  position: absolute;
  width: 10px;
  border-radius: 5px;
}

.slider li:nth-child(1) label {
  left: 100px;
}

.slider li:nth-child(2) label {
  left: 140px;
}

.slider li:nth-child(3) label {
  left: 180px;
  bottom: -149px;
}

.slider img {
  opacity: 0;
  visibility: hidden;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.produtos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.produto_div {
  margin: 10px 0;
}

.produtos img {
  height: 70%;
}

.nome_produtos {
  font-weight: 100;
  font-size: 22px;
}

.ref {
  margin-bottom: 10px;
}

.preco {
  font-size: 22px;
  color: red;
}

.descricao_1 {
  color: red;
}

.descricao_2 {
  font-size: 18px;
  font-weight: 300;
}

.mais {
  font-size: 22px;
  font-weight: 500;
}

#propaganda_01 {
  background-color: #000000;
  color: white;
}

#propaganda_02 {
  text-align: left;
  padding: 40px 100px;
  background-color: #000000;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

#propaganda_02 input {
  background-color: transparent;
  border-color: #ffffff;
  padding: 2px 25px;
  color: #ffffff;
  font-weight: 800;
  margin-top: 10px;
}

#propaganda_02 h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 150px;
  font-weight: 100;
}

#propaganda_02 p {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

#camisolas {
  background-color: #5a5a5a;
  margin-right: 10px;
  padding-top: 660px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#col2 {
  margin-left: 15px;
}

#linha_noite {
  background-color: #5a5a5a;
  margin-bottom: 30px;
  padding-top: 160px;
  padding-left: 10px;
  padding-bottom: 30px;
}

#sutias {
  background-color: #5a5a5a;
  margin-top: 30px;
  padding-top: 160px;
  padding-left: 15px;
  padding-bottom: 15px;
}

#banner_fixo {
  margin: 20px 0;
  padding: 100px 0;
  background-color: #5d5d5d;
  font-size: 40px;
}

#depoimentos {
  background-color: #000000;
}
/*# sourceMappingURL=style.css.map */